<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>iCare: Find the perfect daycare</title>
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron py-5 my-0">
        <h2 class="strong">Tell us about your ideal daycare in {{city}}, {{state}}</h2>
        <p>To match the perfect daycare for you, enter some statements about what you value in a daycare. The more descriptive you can be, the better the match.</p>
      </header>
      <!-- Page Features -->
      <div class="row text-center">
        <div class="mx-auto col-lg-12 col-md-12 mb-12">
          <div class="card w-75 mx-auto">
            <div class="card-body">
              <h4 class="mb-2 card-title">Step 2: Complete the following statements</h4>
                <span class="text-muted">Note: Descriptive adjectives really help our robots find the best match.</span>

              <form action="{{ url_for('match') }}" method="POST" role="form">
                <div class="input-group mt-4 mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="statement1-stem">The facility should be </span>
                  </div>
                  <input type="text" class="form-control" name="statement1" id="statement1" aria-describedby="statement1-stem">
                </div>

                <div class="input-group mt-4 mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="statement2-stem">The staff should be </span>
                  </div>
                  <input type="text" class="form-control" name="statement2" id="statement2" aria-describedby="statement2-stem">
                </div>

                <div class="input-group mt-4 mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="statement3-stem">Activites for my child should be </span>
                  </div>
                  <input type="text" class="form-control" name="statement3" id="statement3" aria-describedby="statement3-stem">
                </div>


                <button type="submit" class="mt-4 mb-1 btn btn-success">Confirm Statements</button></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
